<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428707641911-g74fj14k8f2sl2guqjo3l03u6f0m331l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428707641911-g74fj14k8f2sl2guqjo3l03u6f0m331l</string>
	<key>API_KEY</key>
	<string>AIzaSyD_lluBCpSsKi7Waiv0dfi89V7NLN1rO4c</string>
	<key>GCM_SENDER_ID</key>
	<string>428707641911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.canDo</string>
	<key>PROJECT_ID</key>
	<string>cando-34138</string>
	<key>STORAGE_BUCKET</key>
	<string>cando-34138.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428707641911:ios:8dc20662f873a602bb1db2</string>
</dict>
</plist>